# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.*

# Docker
Dockerfile*
docker-compose*
.docker

# Documentation
README.md
docs

# Tests
coverage
.nyc_output
*.test.ts
*.spec.ts

# Misc
.DS_Store
*.log
